altair==4.2.2
async-generator==1.10
attrs==23.1.0
blinker==1.6.2
browser-cookie3==0.19.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
curl-cffi==0.5.6
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.1.1
fake-useragent==1.1.3
Flask==2.3.2
Flask-Cors==3.0.10
gitdb==4.0.10
GitPython==3.1.31
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.23.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.6.0
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.17.3
lz4==4.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
names==0.3.0
numpy==1.24.3
outcome==1.2.0
packaging==23.1
pandas==1.5.3
Pillow==9.5.0
protobuf==3.20.3
pyarrow==12.0.1
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.9
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.15.1
pymailtm==1.1.1
Pympler==1.0.1
PyPasser==0.0.5
pyperclip==1.8.2
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
quickjs==1.19.2
random-username==1.0.2
requests==2.31.0
rfc3986==1.5.0
rich==13.4.2
selenium==4.10.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
SpeechRecognition==3.8.1
streamlit==1.21.0
tls-client==0.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
trio==0.22.0
trio-websocket==0.10.3
typing_extensions==4.6.3
tzlocal==5.0.1
urllib3==2.0.3
validators==0.20.0
watchdog==3.0.0
websocket-client==1.5.3
Werkzeug==2.3.6
wsproto==1.2.0
zipp==3.15.0
