.buttons {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
}

.bottom_buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom_buttons button {
	padding: 8px 12px;
	display: flex;
	gap: 18px;
	align-items: center;
	cursor: pointer;
	user-select: none;
	background: transparent;
	border: 1px solid #c7a2ff;
	border-radius: var(--border-radius-1);
	width: 100%;
}

.bottom_buttons button span {
	color: var(--colour-3);
	font-size: 14px;
}

@media screen and (max-width: 990px) {
	.buttons {
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 15px;
	}
}
