.field {
	height: fit-content;
	display: flex;
	align-items: center;
	gap: 16px;
	padding-right: 15px;
}

.field .about {
	font-size: 14px;
	color: var(--colour-3);
}

@media screen and (max-width: 990px) {
	.field {
		width: fit-content;
	}
}
