label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	background-color: var(--blur-bg);
	border-radius: var(--border-radius-1);
	border: 1px solid var(--blur-border);
	display: block;
	border-radius: 100px;
	position: relative;
	overflow: hidden;
	transition: 0.33s;
}
