.main-container {
	display: flex;
	padding: var(--section-gap);
	height: 100vh;
	justify-content: center;
	box-sizing: border-box;
}

@media screen and (max-width: 360px) {
	.main-container {
		padding: 0px;
		height: 90vh;
	}
}